#twelveDiv{
  min-height: 700px;
  background-color:#F7D1A4;
  border-left:1px solid navy;
  width:1400px;
  margin-left:-60px;
}

#formDiv{
  border:2px solid maroon;
  margin-left:100px;
  padding:20px;
  width:650px
}

#formDiv h2{
  color:maroon;
}

#fourDiv label{
  color:maroon;
  font-size:15px;
}

#tableDiv{
  margin-top:10px;
  margin-left:25px;
  width:900px;
  min-height: 870px;
}

#tableDiv table{
  width:100%;
  color:maroon;
}

#tableDiv table thead{
  background-color:maroon;
  color:#F7D1A4;
}

.edit{
  width: 40px;
  height: 40px;
}

#pagePreNext{
  padding: 13px;
  position: static;
}  

/*Login Style*/
.ui.container.loginContainer {
  background-color:#F7D1A4;
  width:100%;
  height:100%;
}

.ui.form.loginForm{
  margin-top:12%;
  width:35%;
  margin-left:0;

}

.twelve.wide.field.loginField{
  margin-top:8%;
  margin-left:10%;
}

.ui.small.teal.login.button.loginButton {
  margin-left:43%;
  background-color:#7C0101;
  border:#F7D1A4 solid;
} 

/*Sidebar Style*/
#logo{
  width:150px;
  height:150px;
  margin-left:30px;
  margin-top:25px;
}

.marginlefting {
 margin-left: 60px !important;
}

.displaynone {
 display: none;
}

.displayblock {
 display: block;
}

#sidebar{
  -webkit-transition-duration: 0.1s;
  overflow: visible;
  background-color:maroon;
}

.sidebar .item i {
 font-size: 24px;
 margin-top: -5px;
}

.title .item {
 padding: .92857143em 1.14285714em;
 font-size:20px; 
 color: white;
}

.ui.sidebar.menu .content .item{
  margin-left: 20px;
  font-size: 18px;
  color: cyan;
}

.ui.sidebar.menu .item {
  color: white;
  padding-left: 25px;
  padding-top: 30px;
  font-family: 'Times New Roman',Times,serif;
  font-size: 21px;
  border-radius: 0!important;
  box-shadow: 0 19px 38px rgba(32, 35, 33, 0.21), 0 15px 12px rgba(0,0,0,0.22);
}

.ui.sidebar.menu .item:hover {
  color: orange;
  padding-left: 25px;
  padding-top: 26px;
  font-family: 'Times New Roman',Times,serif;
  font-size: 21px;
  border-radius: 0!important;
}

.ui.sidebar.menu .item:focus {
  color: cyan;
  padding-left: 25px;
  padding-top: 26px;
  font-family: 'Times New Roman',Times,serif;
  font-size: 21px;
  border-radius: 0!important;
}

.ui.vertical.menu .active.item {
 color: black;
 font-weight: bold;
 box-shadow: rgba(0, 0, 0, 0.62) 0px 10px 4px, rgb(242, 113, 28) 0px 0px 40px inset;
 background: rgba(188, 235, 241, 0.93);
 margin: 6px;
 border-width: 1px;
 border-style: solid;
 border-color: black;
 border-image: initial;
}

.dropdown .menu .header {
 padding-top: 3.9px;
 padding-bottom: 3.9px;
}

.ui .sidebar{
  background-color: maroon;
}

.ui.vertical.animated.button .hidden.content {
  top: -50%;
  left: 0;
  right: auto;
  color: white;
}

/*Table Style*/
.tableContainer {
  background-color:#F7D1A4;
  border-left:1px solid navy;
  min-height:800px;
  margin-left:-40px;
}

.ui.inverted.block.header.tableHeader {
  background-color:maroon;
  text-align:center;
}

.ui .left .action .input .availableBox {
  margin-left:10px;
}

.iconLabel {
  color:maroon;
  font-size:15px;
  border:2px solid maroon;
  padding: 5px;
  border-radius: 5px;
  margin-top: 3px;
  background-color: #C9CACC;
  margin-left: 3px;
}

#available_input{
  width: 50px;
  color:maroon;
  font-size:15px;
  font-weight:bold;
  border-radius: 5px;
  height: 35px;
  margin-left: 3px;
  margin-top: 3px;
}

#add-img {
  width:100px;
  height:100px;
  margin-left:50px;
  margin-top:70px;
  background-color:#E8E8E8;
}

#tableIcon{
  font-size:35px;color:#770202;margin-top:20px;
}

.ui .image img{
  width: 70%;
  height: 100%;
  margin-left: 50px;
  padding: 5px;
  margin-top: 30px;

}

.ui .left .action .input{
  margin-left: 10px;

}

.ui .image .center{
  position: absolute;
  top: 49%;
  left: 57%;
  font-size: 30px;
}

.ui .image .centerimg{
  position: absolute;
  top: 20%;
  left: 10%;
  font-size: 30px;
}

.imgcontainer{
  position: relative;
}

.ui .image .imgoverlay{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.imgcontainer:hover .imgoverlay {
  opacity: 0.3;
}

.imgcontainer:hover .middle {
  opacity: 1;
}

.remove {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.remove button{
  width: 30px;
  background-color: red;
  border-radius: 5px;
}

.bellanimate{
 margin-top:20px;
 text-align:center;
 float: right;
}

.bellanimate{
 margin-top:20px;
 text-align:center;
 float: right;
}

.bellanimate button{
  padding: 5px;
  border-color: black;
}

.bellanimate i{
  color: red;
}

/*Voucher Style*/
.mainwrapper{
  background-color:#F7D1A4;
  border-left:1px solid navy;
  width:930px;
  min-height:700px;
  margin-left:-40px;
}

.v-header{
  font-family:'Times New Roman',Times,serif;
  padding-top:35px;

}

#v-seg{
  background-color:black;
}

#v-table{
 margin-top:15px;
 background-color:maroon;
}

#v-pbtn{
  margin-top:20px;
  padding-right:60px;
  background-color:#1B1C1D;"
}

#v-inputlabel{
  width: 50px;
}

/*Sale Form Style*/
.s-header{
 font-family:'Times New Roman',Times,serif; 
 padding-top:7px;
}

#s-form{
  margin-left:20px;
  padding-top:10px;
  padding:20px;
  width:650px;
}

#s-fLabel{
  color:maroon;
  font-size:15px;
}

#s-tscroll{
  height:250px;
  background-color:#312d2d;
  overflow-x:auto;
  margin-top:-40px;
}

#s-table{
 background-color:maroon;
}

#s-tr{
 background-color:black;
}

#s-inputlabel{
  width: 50px;
}

#s-pbtn{
  padding-right:60px;
  background-color:#1B1C1D;"
}

#s-img{
  background-color: transparent;
}

/*Menu Style*/
#menuh2{
  color: maroon;
  padding:15px;
}

#menuform{
  border:2px solid maroon; 
  margin-left:20px;
  margin-top:10px;
  padding:20px;
  width:650px;
}

#menulabel{
  color:maroon;
  font-size:15px;
}

#foodimg{
  width: 30px;
  height: 30px;
}

/*Footer Style*/
#footSide{
 position: fixed;
 color: maroon;
 left: 150px;
 bottom: 0;
 width: 100%;
 border-top:2px solid maroon;
 background-color: #F7D1A4;
}

#footSide img{
  width: 35px;
  height: 35px;
}

/*Responsive Web Design css*/

/* for desktops */
@media (max-width: 1200px) { 
  /*Your CSS rules here */
} 

/* for laptops */
@media (max-width: 991px) { 

} 

/* for large tablets */
@media (min-width: 768px) and (max-width: 990px) {  

}

/* for smaller tablets */
@media (max-width: 768px) { 

} 

/* for cellphones */
@media (max-width: 500px) { 

} 